body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url("../img/background\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
body.light {
  background-image: url("../img/istockphoto-1191184417-612x612.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 }

.header {
  max-width: 1024px;
  margin: 0 auto;
}

.header-container {
  width: 100%;
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 46px;
  margin-bottom: 17px;
}

.header-container-logo-link {
  font-family: "Roboto";
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.header-container-logo-link.light {
  color:  #f26522;
}

.header-container-logo-img {
  width: 53px;
  height: 47px;
}

.header-container-logo-img{
  width: 53px;
  height: 47px;
}

.header-container-logo-img.light {
  display: none;
}

.header-logo-img-orange {
  display: none;
  width: 53px;
  height: 47px;
}

.header-logo-img-orange.light {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom:10px;
}

.logo-link-milan {
  position: absolute;
  left: 57px;
  top:10px;
  font-size: 1.8125rem;
  line-height: 1.8125rem;
}

.logo-link-holidays {
  position: absolute;
  left: 57px;
  bottom:5px;
  font-size: 1.125rem;
  line-height: 1.125rem;
}

.header-container-logo-link:hover  {
  color: #f26522;
}

.header-container-logo-link:hover .header-container-logo-img {
  fill:  #f26522;
}

.header-container-logo-link:hover .header-logo-img-orange {
  display: inline-block;
  position: absolute;
  left: 0;
}

.header-container-contacts {
  text-align: right;
}

.header-container-phone {
  position: absolute;
  right: 0;
  top: 40px;
  width: 146px;
}

.header-container-mail {
  position: absolute;
  right: 0;
  top: 0;
}

.header-container-contacts-link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: #ffffff;
  text-decoration: none;
}

.header-container-contacts-link.light {
  color: #000000;
}

.header-container-contacts-link:hover {
  color: #f26522;
}

.section-tours {
  max-width: 1024px;
  margin: 0 auto;
}

.section-container-tours {
  height: 559px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 49px;
}

.section-container-item {
  position: relative;
}

.section-container-link {
  text-decoration: none;
}

.section-container-img {
  width: 300px;
  height: 220px;
}

.common-section-title {
  display: block;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: #ffffff;
  width: 300px;
  height: 21px;
  text-align: center;
  margin-top: 20px;
}

.light.common-section-title {
  color: #000000;
}

.section-container-link:hover .common-section-title {
  color: #f26522;
}

.section-container-price {
  visibility: hidden;
  box-sizing: border-box;
  width: 300px;
  height: 55px;
  padding-left: 16px;
  padding-bottom: 12px;
  position: absolute;
  top: 220px;
  background-color: #f26522;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.container-price-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.625rem;
  color: #ffffff;
}

.light.container-price-text{
  color: #000000;
}

.container-price-text-large {
  display: block;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: 8px;
}

.container-price-text-medium {
  font-size: 0.875rem;
  line-height: 0.875rem;
  position: relative;
  right: 44px;
}

.container-price-text-medium::after {
  content: url("../img/Vector\ 1.png");
  position: absolute;
  left: 94px;
}

.section-container-link:hover .section-container-price {
  visibility: visible;
  top: 165px;
}

.page-footer {
  max-width: 1024px;
  margin: 0 auto;
  height: 51px;
}

.page-footer-copyright {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 51px;
  color: #ffffff;
  text-align: center;
}

.light.page-footer-copyright {
  color: #000000;
}

.changeTheme {
  position: absolute;
  top:10px;
  width: 100px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: #000000;
  background-color: #ffffff;
  border-color:#ffffff;
}
